<div class="topnav" id='myTopNav'>
    <a href="{% url 'index' %}">Home page</a>
    <a href="{% url 'add_tournament' %}">Add tournament</a>
    <a href="{% url 'add_place' %}">Add place</a>
    <a href="{% url 'add_game' %}">Add game</a>
    <a href="{% url 'add_team' %}">Add team</a>
    <a href="{% url 'add_match' %}">Add match</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
